$primary_color: #010101;
$secondary_color: #EAEAEA;
$button_bg_color: #545454;
$main_text_color: #000000;
$secondary_text_color: #939393;
$secondary_bg_color: #E3E3E3;
$primary_font: "Oswald";
$secondary_font: Arial, Helvetica, sans-serif;